<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>555998C8-A978-4D4D-8039-C3BFB0435537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>880A9573-F3AE-434C-A785-0A2BB66ABBF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>880A9573-F3AE-434C-A785-0A2BB66ABBF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8905B977-4FC9-42C0-887D-796CEF173D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8905B977-4FC9-42C0-887D-796CEF173D14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC21ADE-D9A2-4729-B439-B1B38476C118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89D1F113-7EC8-48E4-8E91-DDA006147FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14A43553-2006-44E5-B936-4FC50FF6FC08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>555998C8-A978-4D4D-8039-C3BFB0435537</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1E905A8-6961-414F-B027-85EA38ADCA0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDC21ADE-D9A2-4729-B439-B1B38476C118</key>
		<array/>
		<key>F1E905A8-6961-414F-B027-85EA38ADCA0A</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open apps for work</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bamboo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notational Velocity.app</string>
					<string>/Applications/RubyMine.app</string>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>14A43553-2006-44E5-B936-4FC50FF6FC08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://teamcity2.bancodev.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>880A9573-F3AE-434C-A785-0A2BB66ABBF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outlook.office365.com/owa/#path=/mail</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>555998C8-A978-4D4D-8039-C3BFB0435537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/firstbanco/umbrella/pulls/joejuzl</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DDC21ADE-D9A2-4729-B439-B1B38476C118</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/firstbanco/umbrella/pulls?utf8=%E2%9C%93&amp;q=is%3Aopen%20is%3Apr%20involves%3A%22joejuzl%22%20-author%3A%22joejuzl%22</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8905B977-4FC9-42C0-887D-796CEF173D14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bamboo</string>
				<key>subtext</key>
				<string>Open apps for work</string>
				<key>text</key>
				<string>Bamboo Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89D1F113-7EC8-48E4-8E91-DDA006147FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/.umbrella/ &amp;&amp; tmux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F1E905A8-6961-414F-B027-85EA38ADCA0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14A43553-2006-44E5-B936-4FC50FF6FC08</key>
		<dict>
			<key>note</key>
			<string>Launch Apps</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>555998C8-A978-4D4D-8039-C3BFB0435537</key>
		<dict>
			<key>note</key>
			<string>Launch outlook</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>880A9573-F3AE-434C-A785-0A2BB66ABBF0</key>
		<dict>
			<key>note</key>
			<string>Launch teamcity</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>8905B977-4FC9-42C0-887D-796CEF173D14</key>
		<dict>
			<key>note</key>
			<string>Launch 'Their PRs'</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>89D1F113-7EC8-48E4-8E91-DDA006147FC5</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DDC21ADE-D9A2-4729-B439-B1B38476C118</key>
		<dict>
			<key>note</key>
			<string>Launch 'My PRs'</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F1E905A8-6961-414F-B027-85EA38ADCA0A</key>
		<dict>
			<key>note</key>
			<string>Start tmux</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
