<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>880A9573-F3AE-434C-A785-0A2BB66ABBF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8905B977-4FC9-42C0-887D-796CEF173D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8905B977-4FC9-42C0-887D-796CEF173D14</key>
		<array/>
		<key>89D1F113-7EC8-48E4-8E91-DDA006147FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14A43553-2006-44E5-B936-4FC50FF6FC08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>880A9573-F3AE-434C-A785-0A2BB66ABBF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1E905A8-6961-414F-B027-85EA38ADCA0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1E905A8-6961-414F-B027-85EA38ADCA0A</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open apps for work</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>xbird</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
					<string>/Applications/PyCharm.app</string>
					<string>/Applications/Evernote.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>14A43553-2006-44E5-B936-4FC50FF6FC08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/xbirdGmbH/xbird/issues/assigned/joejuzl</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8905B977-4FC9-42C0-887D-796CEF173D14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>xbird</string>
				<key>subtext</key>
				<string>Open apps for work</string>
				<key>text</key>
				<string>Xbird Apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89D1F113-7EC8-48E4-8E91-DDA006147FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://accounts.google.com/AccountChooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F%3Fauthuser%3Djoe%40xbird.io&amp;service=mail&amp;Email=joe@xbird.io</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>880A9573-F3AE-434C-A785-0A2BB66ABBF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/projects/xbird &amp;&amp; tmux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F1E905A8-6961-414F-B027-85EA38ADCA0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14A43553-2006-44E5-B936-4FC50FF6FC08</key>
		<dict>
			<key>note</key>
			<string>Launch Apps</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>880A9573-F3AE-434C-A785-0A2BB66ABBF0</key>
		<dict>
			<key>note</key>
			<string>Launch gmail</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8905B977-4FC9-42C0-887D-796CEF173D14</key>
		<dict>
			<key>note</key>
			<string>Launch github issues</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>89D1F113-7EC8-48E4-8E91-DDA006147FC5</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F1E905A8-6961-414F-B027-85EA38ADCA0A</key>
		<dict>
			<key>note</key>
			<string>Start tmux</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
